_site
.sass-cache
.jekyll-metadata
.DS_Store
.DS_Store
spatial-ai/w6w7.1.5.intro_to_pytorch.pptx
.DS_Store
spatial-ai/Icon
spatial-ai/quiz/q4.docx
spatial-ai/quiz/q5.docx
spatial-ai/quiz/q6.docx
spatial-ai/quiz/q7.docx
spatial-ai/Icon
