html {
    font-size: 100%;
}
hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif, Helvetica, Arial;
	font-style: normal;
	margin-left: 20%; /*clamp(5px,20%,300px);*/
    	margin-right: 20%; /* clamp(5px,20%,300px);*/
	margin-top: 0px;
	font-size:14px;
	line-height:170%;text-align:left;font-weight:400;
	color: black;
	padding-top: 60px;
}



/* Main Level */
ul{
    padding: 5px;
    list-style-type: square;
	margin: 1.2px 0;
	margin-top: 0px;
	margin-left: 12px;
}
/* Second Level */
ul ul{
    list-style-type: circle;
	margin: 0px 0;
	margin-left:10px;
}
/* Third Level */
ul ul ul{
  list-style-type: disc;
  margin-left:10px;
}

.noscroll {
    BOX-SIZING: border-box;
    WIDTH: 100%;
    HEIGHT: 100%;
}



.alignleft {
	float: left;
}
.alignright {
	float: right;
}


p{
    margin: 0;
}
p.bottom{
margin-bottom:10px ;
}

	
.full-width {
	width: 100%;
	margin: auto;
}



.image-cropper {
    width: 170px;
    height: 200px;
float: center;
 padding: 0 0px 10px 0;	
}

img {
    display: inline;
    margin: 0 auto;

}

.img-icons  .icon{
	font-size: 25px;
	border: 0;
}



.front-image {
	display: inline;
	float: center;
	margin-top: 0px;
	margin-left: 10px;  
	margin-right: 10px;  
	margin-bottom: 0px; 
}

.front-left {
	margin-left: 10px; 
	margin-right:5px;
	float: left;
}
.front-right {
  float: right;
}
.front-page {
	min-height: 230px;
	width: 100%;
	display:inline-flex;
	flex-wrap:wrap;
	margin-top: 0px;
	margin-left: 0px;  
	margin-right: 0px;  
	margin-bottom: 0px; 
}

.flex-direction{
  flex-direction:row;
}

.header-page {
	display: block;
	margin-top: 20px;
	margin-left: 0px;  
	margin-right: 0px;  
	margin-bottom: 20px; 
}


.body-page {
	display:inline-block;zoom:1;display*:inline;vertical-align:middle;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;  
	margin-right: 0px;  
	margin-bottom: 10px;  
}



blockquote {
	display: inline;
	margin-left: 0;
	position:relative;
	margin-bottom: 0px;  
	border-radius: 10px;
	font-size: 14px;
	 background-color: #F0F0F0;

}


